body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 90%;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-flow: column;
  }
  
}

.container2 {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  background: #eee;  
  overflow: auto;
  margin: auto;
  text-align: center;
}

.container2 .col {
  flex: 1;
  padding: 1rem;
}


/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.fullscreen .col {
  flex: 1;
  padding: 1rem;
}

.title {
  font-size: 3rem;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

