body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,

.container {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  background: #eee;  
  overflow: auto;
  margin: auto;
  text-align: center;
}

.container .col {
  flex: 1;
  padding: 1rem;
}

.title {
  font-size: 3rem;
}
