body {
  font-family: sans-serif;
}

html,

  .flex-container {
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction:column;
    background-color: #D53BA3;
}
  .flex-container > div {
    margin: auto;
    text-align: center;
  }

  .flex-container .col {
    flex: 1;
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
  }
